<?xml version='1.0' encoding='utf-8'?>
<widget id="com.algonquincollege.okto0001.mad9135-assign1" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Contacts App</name>
    <description>
        MAD9135 Assignment 1
    </description>
    <author email="okto0001@algonquinlive.com" href="http://www.algonquincollege.com/okto0001">
        Timotius Oktorio
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
